.header__section-logo{
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px){
  .header__section-logo{
    max-width: 68.8vw;
  }
}

@media screen and (max-width: 560px){
  .header__section-logo{
    max-width: 80.8vw;
  }
}