.popup__close{
  border: none;
  cursor: pointer;
  position: absolute;
  left: 438px; 
  bottom: 338px;
  background: url('../../../images/closeButton.svg') center no-repeat;
  height: 32px;
  width: 32px;
  object-fit: contain;
  background-size: 100%;
  transition: opacity .4s;
}

.popup__close:hover{
  opacity: 0.6;
}

@media screen and (max-width: 560px) {
  .popup__close{
    left: 250px; 
    bottom: 356px;
  } 
}